/*
	General styles
*/
@import url("../font/font.css");
@import url("./normalize.css");

body {
	font-family: "Noto Sans KR", "Source Sans Pro", Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	color: #000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body, html {height:100%;}
html * {box-sizing: border-box;}
ol, ul, dl {margin:0;padding:0;list-style:none;}

h1, h2, h3, h4 {font-family: "Noto Sans KR", "Source Sans Pro", Arial, sans-serif;}
h1 {font-weight:500;font-size:20px;}
h2 {font-size:18px;}

a, a:visited {text-decoration: none;color: initial;}
/* a:hover {text-decoration: underline;} */
button {margin:0;padding:0;}

/* a, button, */
input:focus, button:focus, textarea:focus,
select:focus {outline: none;}

.touchonly {display: none;}
html.touch .touchonly {display: block;}
.noselect, .noselect * {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
.doselect, .doselect *:not(.noselect) {
	user-select: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
}

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

.spacer {text-align:center;}
.spacer.s0 {min-height: 0px;}
.spacer.s1 {min-height: 100px;}
.spacer.s2 {min-height: 200px;}
.spacer.s3 {min-height: 300px;}
.spacer.s4 {min-height: 400px;}
.spacer.s5 {min-height: 500px;}
.spacer.s6 {min-height: 600px;}
.spacer.s7 {min-height: 700px;}
.spacer.s8 {min-height: 800px;}
.spacer.s9 {min-height: 900px;}
.spacer.s10 {min-height: 1000px;}
.spacer.s_viewport {min-height: 100%;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt16 {margin-top:16px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt60 {margin-top:60px;}
.al-l {text-align:left;}
.al-c {text-align:center;}
.al-r {text-align:right;}

/* Layout
<app-wrap>
	<app-header-wrap/>
	<app-content-wrap/>
	<app-footer-wrap/>
</app-wrap>
*/
.app-wrap {height:100%;}
.app-header-wrap {position:fixed;width:100%;left:0;top:0;z-index:100;}
.app-header-wrap + .app-content-wrap {padding-top:56px;}
.app-header-wrap + .app-content-wrap .app-section.full {min-height:calc(100vh - 56px);}
.app-content-wrap {}
.app-section.full {min-height:100vh;}
.app-section {padding:0 20px;}
.app-section.no-gutter {padding-left:0;padding-right:0;}
body.lock {overflow:hidden;}
body.lock .app-header-wrap:before {content:'';position:fixed;left:0;top:0;display:block;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:10;}

/* Header */
.app-header {position:relative;height:56px;border-bottom:1px solid #e0e0e0;background:#fff;z-index:1;}
.app-header > h1 {width:calc(100% - 112px);padding-top:14px;margin:0 auto;text-align:center}
.app-header > button {display:none;}
.app-header .btn-hd-notifications,
.app-header .btn-hd-back,
.app-header .btn-hd-close {position:absolute;left:6px;top:3px;}
.app-header .btn-hd-menu {position:absolute;right:6px;top:3px;}
.app-header.main .btn-hd-notifications,
.app-header.main .btn-hd-menu {display:block;}
.app-header.sub .btn-hd-back {display:block;}
.app-header.popup .btn-hd-close {display:block;}

/* app-header-layer */
.app-header .btn-header-layer {position:relative;border:none;background:none;padding-right:43px;}
.app-header .btn-header-layer:after {content:'';position:absolute;right:0px;top:-6px;display:block;width:40px;height:40px;background:url('../img/icon/ic_open_change_down.png') no-repeat center center;background-size:41px 40px;}
.app-header-layer {display:none;position:relative;}
.app-header-layer:before {display:none;content:'';position:absolute;left:0;top:0;width:100%;height:calc(100vh - 56px);background:rgba(0,0,0,0.5);}
.app-header-layer .layer-box {position:absolute;width:100%;padding:20px 20px 33px 20px;background:#fff;border-bottom-left-radius:24px;border-bottom-right-radius:24px;}
.app-header-wrap.header-layer-open .app-header .btn-header-layer:after {background:url('../img/icon/ic_open_change_up.png') no-repeat center center;background-size:41px 40px;}
.app-header-wrap.header-layer-open .app-header-layer,
.app-header-wrap.header-layer-open .app-header-layer:before {display:block;}
.app-header-wrap.header-layer-open .app-header-layer .layer-box {top:0px;animation:openHeaderLayer 0.4s;}
@keyframes openHeaderLayer {
	from {top: -500px;}
	to {top: 0px;}
}

.change-location {max-height:500px;}
.change-location--header {}
.change-location--header .title {font-size:18px;line-height:26px;}
.change-location--header .desc {margin-top:11px;font-size:16px;line-height:22px;font-weight:400;color:#a1a1a1;}
.change-location--header + .change-location--list {margin-top:30px;}

.change-location--list {max-height:335px;overflow-y:auto;}
.change-location--list li {border-bottom:1px solid #e0e0e0;}
.change-location--list li > a {position:relative;display:block;padding:14px 35px 14px 0;}
.change-location--list li > a:before {content:'';position:absolute;top:50%;right:0;margin-top:-11px;display:block;width:22px;height:22px;background:#e7e7e7;border:1px solid #e0e0e0;border-radius:24px;}
.change-location--list li.current > a:before {background:#037cff;border-color:#037cff;}
.change-location--list li.current > a:after {content:'';position:absolute;top:50%;right:6px;margin-top:-4px;display:inline-block;width:10px;height:5px;border-bottom:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
.change-location--list .name {font-size:18px;line-height:27px;font-weight:700;}


/* Layer */
.layer-wrap {position:relative;z-index:101;}
.layer-wrap .layer {display:none;position:fixed;top:0;left:0;width:100%;height:100%;}
.layer-wrap .layer.show {display:block;}

.layer-wrap .layer.full {background-color:transparent;}
.layer-wrap .layer.full .layer-inner {height:100%;background-color:#fff;}
.layer-wrap .layer.full .layer-head {height:56px;width:100%;text-align:center;border-bottom:1px solid #e0e0e0;}
.layer-wrap .layer.full .layer-head .title {display:block;font-size:20px;line-height:56px;}
.layer-wrap .layer.full .layer-cont {height:calc(100% - 56px);padding:0 20px;overflow-y:auto;}
.layer-wrap .layer.full .btn-layer-close {position:absolute;top:3px;left:6px;border:none;background:transparent;}
.layer-wrap .layer.full .btn-layer-close i {display:block;}

.layer-wrap .layer:not(.full) {background-color:rgba(0,0,0,0.5);}
.layer-wrap .layer:not(.full) .layer-inner {position:absolute;top:50%;left:10px;right:10px;transform:translateY(-50%);background-color:#fff;border-radius:24px;}
.layer-wrap .layer:not(.full) .layer-head {padding-right:60px;}
.layer-wrap .layer:not(.full) .layer-head .title {display:block;font-size:18px;line-height:28px;font-weight:500;}
.layer-wrap .layer:not(.full) .layer-head .desc {display:block;font-size:16px;line-height:22px;font-weight:400;color:#828282;}
.layer-wrap .layer > *:focus {outline:none;}

.layer-wrap .layer .guide-box {margin:20px 10px 0;padding:6px 10px 8px;font-size:14px;text-align:left;color:#037cff;border:1px solid #e5e5e5;border-radius:6px;}

.layer-wrap .layer.event {}
.layer-wrap .layer.event .layer-inner {border-radius:0;background-color:transparent;}
.layer-wrap .layer.event .image-cont {max-height:80vh;border-radius:24px;overflow-y:scroll;background-color:#fff;}
.layer-wrap .layer.event .image-cont img {margin:0 auto;display:block;max-width:100%;}
.layer-wrap .layer.event .button-wrap {position:absolute;bottom:100%;left:0;width:100%;}
.layer-wrap .layer.event .button-wrap:after {content:"";display:block;clear:both;}
.layer-wrap .layer.event .button-wrap .input-wrap {margin:10px 0;float:left;color:#fff;}
.layer-wrap .layer.event .button-wrap .input-wrap label {padding-left:3px;font-size:14px;}
.layer-wrap .layer.event .button-wrap .btn-close {float:right;width:44px;height:44px;background:url('../img/icon/ic_close_popup.png') no-repeat center center;background-size:44px 44px;color:transparent;border:none;}

.layer-wrap .layer.alert .layer-inner {padding:20px;}
.layer-wrap .layer.alert .layer-cont {padding:40px 20px 60px;text-align:center;}

.layer-wrap .layer.confirm .layer-inner {padding:20px;}
.layer-wrap .layer.confirm .layer-cont {padding:40px 20px 60px;text-align:center;}

.layer-wrap .layer.dialog .layer-inner {padding:20px;}
.layer-wrap .layer.dialog .layer-cont {padding:0;}

/* bottom-floating-menu-wrap */
.bottom-floating-menu-wrap .floating-menu-wrap {height:68px;padding:8px 0;background-color:#fff;box-shadow:0 -10px 10px 0 rgba(20, 0, 0, 0.1);}
.bottom-floating-menu-wrap .button-wrap {height:96px;padding:20px;background-color:#fff;}
.app-content.has-bottom-menu > section:last-of-type {padding-bottom:68px;}
.app-content.has-bottom-button > section:last-of-type {padding-bottom:96px;}

/* notification */
.layer[data-layer-name="notification"] {left:-110%;transition: left 0.5s;}
[data-layer-name="notification"] .push-guide {margin-top:14px;font-size:16px;line-height:26px;color:#037cff;}
[data-layer-name="notification"] .push-guide + .push-list {margin-top:10px;}
[data-layer-name="notification"] .push-list + .button-wrap {padding-top:20px;padding-bottom:26px;}

.push-list {}
.push-list li {position:relative;border-bottom:1px solid #e0e0e0;}
.push-list li > a {display:block;padding:16px 40px 16px 0;}
.push-list .title {font-size:18px;line-height:27px;font-weight:500;color:#000;}
.push-list .date {margin-top:4px;display:block;font-size:14px;font-weight:400;color:#828282;}
.push-list .btn-delete {position:absolute;top:50%;right:-4px;margin-top:-16px;width:32px;height:32px;}

/* gnb */
.layer[data-layer-name="gnb"] {left:110%;transition: left 0.5s;}
[data-layer-name="gnb"] .layer-cont {display:flex;flex-direction:column;}
[data-layer-name="gnb"] .gnb-header {margin-top:20px;}
[data-layer-name="gnb"] .gnb-content {margin-top:20px;margin-bottom:20px;}
[data-layer-name="gnb"] .gnb-footer {margin-top:auto;padding-bottom:20px;}

.onepick-company {display:flex;padding:15px ​20p;min-height:100px;text-align:center;background:#2876ec url('../img/bg_company.png') no-repeat center center;background-size:cover;border-radius:10px;}
.onepick-company .name {width:100%;font-size:26px;line-height:1.2;color:#fff;align-self:center;}

.onepick-management {}
.onepick-management li > a {position:relative;display:block;padding:14px 38px 15px 52px;}
.onepick-management span {font-size:18px;color:#020202;}
.onepick-management i {position:absolute;top:8px;left:0;width:40px;height:40px;background-repeat:no-repeat;background-position:center center;background-size:40px 40px;}
.onepick-management i.ico-my {background-image:url('../img/icon/ic_my.png');}
.onepick-management i.ico-guide {background-image:url('../img/icon/ic_guide.png');}
.onepick-management i.ico-notice {background-image:url('../img/icon/ic_notice.png');}
.onepick-management i.ico-setting {background-image:url('../img/icon/ic_setting.png');}

.onepick-call {display:flex;margin-left:-8px;margin-right:-8px;}
.onepick-call a {margin-left:8px;margin-right:8px;width:50%;padding:11px 10px 9px;border:1px solid #e0e0e0;border-radius:6px;}
.onepick-call span {margin-top:6px;display:block;font-size:12px;color:#828282;text-align:center;}
.onepick-call i {margin:0 auto;display:block;width:20px;height:20px;background-repeat:no-repeat;background-position:center center;background-size:20px 20px;}
.onepick-call i.ico-phone {background-image:url('../img/icon/ic_phone.png');}

.onepick-info {margin-top:12px;}
.onepick-info p {font-size:12px;line-height:18px;font-weight:400;color:#828282;}

.onepick-link {margin-top:20px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.onepick-link a,
.onepick-link span {font-size:12px;font-weight:400;color:#828282;}
.onepick-link span {padding:0 5px;font-size:10px;}

/* input */
::placeholder {/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #bdbdbd;
	opacity: 1;/* Firefox */
}
:-ms-input-placeholder {/* Internet Explorer 10-11 */
	color: #bdbdbd;
}
::-ms-input-placeholder {/* Microsoft Edge */
	color: #bdbdbd;
}
input[type="checkbox"].chk_t01 {position:relative;width:24px;height:24px;border:none;-webkit-appearance:none;appearance:none;}
input[type="checkbox"].chk_t01:before {content:'';position:absolute;left:0;top:0;display:block;width:22px;height:22px;background:#e7e7e7;border:1px solid #e0e0e0;border-radius:24px;}
input[type="checkbox"].chk_t01:checked:before {background:#037cff;border-color:#037cff;}
input[type="checkbox"].chk_t01:checked:after {content:'';position:absolute;left:6px;top:8px;display:inline-block;width:10px;height:5px;border-bottom:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
input[type="checkbox"].chk_t01:disabled {opacity:0.6;}
input[type="checkbox"].chk_t02 {position:relative;width:20px;height:20px;border:none;-webkit-appearance:none;appearance:none;}
input[type="checkbox"].chk_t02:before {content:'';position:absolute;left:0;top:0;display:block;width:16px;height:16px;background:#fff;border:2px solid #bdbdbd;border-radius:20px;}
input[type="checkbox"].chk_t02:checked:before {background:#000;border-color:#000;}
input[type="checkbox"].chk_t02:checked:after {content:'';position:absolute;left:5px;top:6px;display:inline-block;width:8px;height:4px;border-bottom:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
input[type="checkbox"].chk_t02:disabled {opacity:0.6;}
input[type="checkbox"].chk_t03 {position:relative;width:40px;height:40px;border:none;-webkit-appearance:none;appearance:none;}
input[type="checkbox"].chk_t03:before {content:'';position:absolute;left:3px;top:13px;display:block;width:34px;height:14px;background:#e7e7e7;border-radius:7px;}
input[type="checkbox"].chk_t03:after {content:'';position:absolute;left:0;top:10px;display:block;width:20px;height:20px;background:#d2d2d2;border-radius:10px;transition:all 0.25s;}
input[type="checkbox"].chk_t03:checked:before {background-color:#b3d8ff;}
input[type="checkbox"].chk_t03:checked:after {background-color:#037cff;left:18px;}
input[type="checkbox"].chk_t03:disabled {opacity:0.6;}

input[type="radio"].rd_t01 {position:relative;width:24px;height:24px;border:none;-webkit-appearance:none;appearance:none;}
input[type="radio"].rd_t01:before {content:'';position:absolute;left:0;top:0;display:block;width:22px;height:22px;background:#e7e7e7;border:1px solid #e0e0e0;border-radius:24px;}
input[type="radio"].rd_t01:checked:before {background:#037cff;border-color:#037cff;}
input[type="radio"].rd_t01:checked:after {content:'';position:absolute;left:6px;top:8px;display:inline-block;width:10px;height:5px;border-bottom:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
input[type="radio"].rd_t01:disabled {opacity:0.6;}

select {-webkit-appearance:none;appearance:none;width:100%;height:48px;padding:0 35px 0 10px;border:1px solid #e5e5e5;border-radius:6px;background:#fff url('../img/icon/icon_function_element_dropdown.png') no-repeat right 4px center;background-size:28px 28px;}
input[type="text"],
input[type="password"],
input[type="number"] {width:100%;height:56px;font-size:18px;border:none;border-bottom:1px solid #e0e0e0;}
.input-wrap-text {position:relative;}
.input-wrap-text.unit {position:relative;text-align:right;}
.input-wrap-text.unit button {margin:10px 0 0 10px;}
.input-wrap-pass {position:relative;}
.input-wrap-pass input {padding-right:40px;}
.input-wrap-pass button {position:absolute;right:0;bottom:8px;width:40px;height:40px;font-size:0;color:transparent;border:none;background:url('../img/icon/icon_view_on.png') no-repeat center center; background-size:23px 24px;}
.input-wrap-certi {position:relative;}
.input-wrap-certi input {padding:0 83px 0 16px;border:1px solid #e0e0e0;}
.input-wrap-certi label + input {margin-top:14px;}
.input-wrap-certi button {position:absolute;right:10px;bottom:14px;padding:3px 5px 4px;font-size:14px;color:#000;border:1px solid #000;border-radius:6px;background:#fff;}
.input-wrap-number.counter {position:relative;width:150px;}
.input-wrap-number.counter input {width:70px;height:50px;margin-left:45px;border:none;text-align:center;}
.input-wrap-number.counter button {position:absolute;bottom:0;width:50px;height:50px;font-size:30px;line-height:47px;border:1px solid #e5e5e5;background:#fff;}
.input-wrap-number.counter button.minus {left:0;}
.input-wrap-number.counter button.plus {right:0;}
.input-wrap-number.unit {position:relative;text-align:right;}
.input-wrap-number.unit input {position:relative;width:100%;height:48px;padding:0 30px 0 10px;text-align:right;border:1px solid #e5e5e5;border-radius:6px;}
.input-wrap-number.unit button {margin:10px 0 0 10px;}
.input-wrap-number.unit .unitText {position:absolute;right:10px;top:13px;}
.input-wrap-number.unit.time input {padding-right:46px;}
.input-wrap input,
.input-wrap label {display:inline-block;vertical-align:middle;}


/* Button */
a {display:inline-block;}
a[disabled] {pointer-events: none;}
a[class^="sm-"],button[class^="sm-"] {height:28px;padding:3px 8px 4px;font-size:14px;border-radius:4px;border:1px solid #000;background:#fff;text-align:center;}
a.sm-bk,button.sm-bk {border-color:#000;color:#fff;background:#000;}
a.sm-wt,button.sm-wt {border-color:#000;color:#000;background:#fff;}
a.sm-wt.unable,button.sm-wt.unable {color:#bdbdbd;border-color:#e0e0e0;background:#fff;}
a[class^="md-"],button[class^="md-"] {height:46px;padding:12px 30px;font-size:16px;color:#fff;border:none;border-radius:6px;background:#bdbdbd;text-align:center;}
a.md-gr,button.md-gr {color:#fff;background:#bdbdbd;}
a.md-bl,button.md-bl {color:#fff;background:#037cff;}
a.md-bk,button.md-bk {color:#fff;background:#000;}
a[class^="lg-"],button[class^="lg-"] {padding:14px 40px;font-size:20px;color:#fff;border:none;border-radius:6px;background:#bdbdbd;text-align:center;}
a.lg-bl,button.lg-bl {color:#fff;background:#037cff;}
a[class^="sm-"][disabled],button[class^="sm-"][disabled],
a[class^="md-"][disabled],button[class^="md-"][disabled],
a[class^="lg-"][disabled],button[class^="lg-"][disabled] {color:#bdbdbd;border-color:#eee;background:#eee;}
a[class*="md-bk"][disabled],button[class*="md-bk"][disabled] {color:#fff;border-color:#bdbdbd;background:#bdbdbd;}
a[class$="-wt"][disabled],button[class$="-wt"][disabled] {background:#fff;}
.button-wrap.full a,.button-wrap.full button {width:100%;}
.button-wrap.dialog {display:flex;}
.button-wrap.dialog a:nth-child(1),.button-wrap.dialog button:nth-child(1) {width:33.3%;}
.button-wrap.dialog a:nth-child(2),.button-wrap.dialog button:nth-child(2) {width:66.6%;}
.button-wrap.dialog a + a,.button-wrap.dialog button + button {margin-left:12px;}
.btn-more {font-size:16px;line-height:32px;color:#828282;border:none;background-color:transparent;}
.btn-more:after {content:"";display:inline-block;width:32px;height:32px;vertical-align:top;background:url('../img/icon/ic_more.png') no-repeat center center;background-size:32px 32px;}
.btn-cancel {font-size:16px;line-height:24px;color:#e53935;}
.btn-cancel:visited {color:#e53935;}
.btn-cancel:before {content:"";display:inline-block;width:24px;height:24px;vertical-align:top;background:url('../img/icon/ic_cancel.png') no-repeat center center;background-size:24px 24px;}
.btn-delete {width:24px;height:24px;font-size:0;color:transparent;border:none;background:url('../img/icon/icon_delete_circ.png') no-repeat center center;background-size:24px 24px;}
.btn-refresh {width:40px;height:40px;font-size:0;color:transparent;border:none;background:url('../img/icon/ic_refresh.png') no-repeat center center;background-size:40px 40px;}
.btn-hd-close {width:50px;height:50px;font-size:0;color:transparent;border:none;background:url('../img/icon/ic_close.png') no-repeat center center;background-size:50px 50px;}
.btn-hd-back {width:50px;height:50px;font-size:0;color:transparent;border:none;background:url('../img/icon/ic_back.png') no-repeat center center;background-size:50px 50px;}
.btn-hd-notifications {width:50px;height:50px;font-size:0;color:transparent;border:none;background:url('../img/icon/ic_notifications.png') no-repeat center center;background-size:50px 50px;}
.btn-hd-menu {width:50px;height:50px;font-size:0;color:transparent;border:none;background:url('../img/icon/ic_menu.png') no-repeat center center;background-size:50px 50px;}
[class^="btn-menu-"] {display:inline-block;min-width:36px;padding-top:36px;font-size:12px;font-weight:400;color:#a1a1a1;text-align:center;}
.btn-menu-home {background:url('../img/icon/ic_menu_home.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-home.on {background:url('../img/icon/ic_menu_home_on.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-reserve {background:url('../img/icon/ic_menu_reserve.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-reserve.on {background:url('../img/icon/ic_menu_reserve_on.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-rooms {background:url('../img/icon/ic_menu_room.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-rooms.on {background:url('../img/icon/ic_menu_room_on.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-calc {background:url('../img/icon/ic_menu_calc.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-calc.on {background:url('../img/icon/ic_menu_calc_on.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-review {background:url('../img/icon/ic_menu_review.png') no-repeat center top;background-size:36px 36px;}
.btn-menu-review.on {background:url('../img/icon/ic_menu_review_on.png') no-repeat center top;background-size:36px 36px;}
.button-wrap-menu {padding:0 20px;display:flex;}
.button-wrap-menu [class^="btn-menu-"] {margin:0 auto;}
.button-wrap-menu [class^="btn-menu-"].on {color:#037cff;}
.button-wrap-menu [class^="btn-menu-"]:visited {color:#a1a1a1;}
.text-link {font-size:16px;line-height:22px;color:#a1a1a1;}
.text-link:visited {color:#a1a1a1;}
.text-more {font-size:14px;line-height:24px;color:#000;}
.text-more:visited {color:#000;}
.text-more:after {content:"";display:inline-block;width:24px;height:24px;background:url('../img/icon/ic_more_plus.png') no-repeat center top;background-size:24px 24px;vertical-align:top;}

/* Tab */
.tablist-ty01 {display:flex;}
.tablist-ty01 [role="tab"] {width:100%;padding:12px;border:none;border-bottom:4px solid #e0e0e0;font-size:20px;font-weight:700;color:#a1a1a1;background:#fff;}
.tablist-ty01 [role="tab"][aria-selected="true"] {color:#000;border-color:#037cff;}
.tablist-ty02 {display:flex;}
.tablist-ty02 [role="tab"] {width:100%;padding:16px;border:none;border-bottom:2px solid #e0e0e0;font-size:16px;font-weight:700;color:#a1a1a1;background:#fff;}
.tablist-ty02 [role="tab"] em {margin-left:6px;font-style:normal;color:#037cff;opacity:0.7;}
.tablist-ty02 [role="tab"][aria-selected="true"] {color:#000;border-color:#000;}
.tablist-ty02 [role="tab"][aria-selected="true"] em {opacity:1;}

[role="tabpanel"] {display:none;}
[role="tabpanel"].show {display:block;}
[role="tabpanel"]:focus {outline:none;}

/* Validation Message */
.validation-message > span {display:none;color:#e53935;}
.validation-message.show > span:nth-child(1),
.validation-message.show_1 > span:nth-child(1),
.validation-message.show_2 > span:nth-child(2),
.validation-message.show_3 > span:nth-child(3),
.validation-message.show_4 > span:nth-child(4) {display:block;}

/* form wrap */
.form-wrap {}
.form-wrap .form-head {}
.form-wrap .form-head .title {display:block;font-size:16px;line-height:26px;font-weight:500;}
.form-wrap .form-head .desc {display:block;font-size:16px;line-height:26px;font-weight:400;color:#a1a1a1;}

/* datepicker */
.date-picker-wrapper {
	font-family: "Noto Sans KR", "Source Sans Pro", Arial, sans-serif;
}
.date-picker-wrapper .month-wrapper table .day.lalala {
	background-color: orange;
}
.date-picker-wrapper.date-range-picker19 .day.first-date-selected {
	background-color: red !important;
}
.date-picker-wrapper.date-range-picker19 .day.last-date-selected {
	background-color: orange !important;
}

.date-picker-wrapper {
	left:0 !important;
	box-sizing: border-box;
	padding: 0;
	background-color:transparent;
	box-shadow: none;
	border: none;
}
.date-picker-wrapper .drp_top-bar {padding:0;z-index:1;}
.date-picker-wrapper .drp_top-bar .normal-top,
.date-picker-wrapper .drp_top-bar .error-top,
.date-picker-wrapper .drp_top-bar .default-top {display:none !important;}
.date-picker-wrapper .drp_top-bar .apply-btn {position:absolute;right:20px;top:10px;height:28px;
	padding:3px 8px 4px;
	font-size:14px;
	background:#000;
	border-radius:4px;
	border:1px solid #000;}
.date-picker-wrapper.no-shortcuts {padding-bottom:initial;}
.date-picker-wrapper:before {content:'';position:fixed;left:0;display:block;
	top:117px;
	width:100%;
	height:calc(100% - 117px);
	background:rgba(0,0,0,0.5);
}
.date-picker-wrapper .month-wrapper {
	padding: 0 16px 18px;
	border: none;
	border-radius: initial;
}
.date-picker-wrapper .month-wrapper table {
	width:100%;
	table-layout: fixed;
}
.date-picker-wrapper .month-wrapper table .day {
	margin: 0 auto;
	width: 36px;
	font-size: 14px;
	line-height: 21px;
	padding: 8px 0 7px;
}
.date-picker-wrapper .month-wrapper table div.day.lastMonth,
.date-picker-wrapper .month-wrapper table div.day.nextMonth {
	display: block;
	color: #a1a1a1;
}
.date-picker-wrapper .month-wrapper table .caption>th {
	height: 48px;
	line-height: 48px;
}
.date-picker-wrapper .month-wrapper table .caption>th:first-of-type,
.date-picker-wrapper .month-wrapper table .caption>th:last-of-type {
	width:auto;
}
.date-picker-wrapper .month-wrapper table .caption .prev,
.date-picker-wrapper .month-wrapper table .caption .next {
	position: absolute;
	top: 5px;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-left: -20px;
	color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
}
.date-picker-wrapper .month-wrapper table .caption .prev {
	transform: translate(-56px, 0);
	background-image: url('../img/icon/ic_date_picker_prev.png');
}
.date-picker-wrapper .month-wrapper table .caption .prev:before {
	content: "prev";
}
.date-picker-wrapper .month-wrapper table .caption .next {
	transform: translate(56px, 0);
	background-image: url('../img/icon/ic_date_picker_next.png');
}
.date-picker-wrapper .month-wrapper table .caption .next:before {
	content: "next";
}
.date-picker-wrapper .month-wrapper table .caption .prev:hover,
.date-picker-wrapper .month-wrapper table .caption .next:hover {
	background-color: transparent;
	color: transparent;
}
.date-picker-wrapper .month-wrapper table .caption .month-name {
	font-size: 18px;
	font-weight: 500;
	color: #000;
}
.date-picker-wrapper .month-wrapper table .caption .month-name:after {
	content: "";
	position: absolute;
	top: 48px;
	left: 20px;
	right: 20px;
	height: 1px;
	background: #cacaca;
	opacity: 0.5;
}
.date-picker-wrapper .month-wrapper table .caption .month-name .month-element {
	vertical-align: bottom;
}
.date-picker-wrapper .month-wrapper table td,
.date-picker-wrapper .month-wrapper table th {
	height: 46px;
}
.date-picker-wrapper .month-wrapper table tbody td,
.date-picker-wrapper .month-wrapper table tbody th {
	position: relative;
}
.date-picker-wrapper .month-wrapper table .week-name {
	height: 55px;
	line-height: 55px;
	text-transform: initial;
}
.date-picker-wrapper .month-wrapper table .week-name th {
	height: 55px;
	font-size: 10px;
	line-height: 14px;
	font-weight: 400;
	color: #828282;
}
.date-picker-wrapper .month-wrapper table .day.checked:not(.first-date-selected):not(.last-date-selected),
.date-picker-wrapper .month-wrapper table .day.first-date-selected,
.date-picker-wrapper .month-wrapper table .day.last-date-selected {
	color: #fff !important;
	background-color: #037cff !important;
}
.date-picker-wrapper .month-wrapper table .day.first-date-selected {
	border-radius: 50% 0 0 50%;
}
.date-picker-wrapper .month-wrapper table .day.last-date-selected {
	border-radius: 0 50% 50% 0;
}
.date-picker-wrapper .month-wrapper table .day.checked:not(.first-date-selected):not(.last-date-selected):before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 0;
	width: calc(50% - 18px);
	background-color: #037cff;

	top: 50%;
	transform: translateY(-50.1%);
	height: 36px;
}
.date-picker-wrapper .month-wrapper table .day.checked:not(.first-date-selected):not(.last-date-selected):after {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 0;
	width: calc(50% - 18px);
	background-color: #037cff;

	top: 50%;
	transform: translateY(-50.1%);
	height: 36px;
}
.date-picker-wrapper .month-wrapper table .day.first-date-selected:before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 0;
	width: calc(50% - 18px);
	background-color: #037cff;
	content: "";

	top: 50%;
	transform: translateY(-50.1%);
	height: 36px;
}
.date-picker-wrapper .month-wrapper table .day.last-date-selected:before {
	content: "";
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 0;
	width: calc(50% - 18px);
	background-color: #037cff;

	top: 50%;
	transform: translateY(-50.1%);
	height: 36px;
}
/* single-date */
.date-picker-wrapper.single-date {}
.date-picker-wrapper.single-date .month-wrapper table .day.first-date-selected {
	border-radius: 50% 50% 50% 50%;
}
.date-picker-wrapper.single-date .month-wrapper table .day.first-date-selected:before {
	content: none;
}
.date-picker-wrapper .apply-box input[type="button"] {width:100%;height:46px;padding:12px 30px;background:#037cff;border:none;border-radius:6px;color:#fff;font-size:16px;text-align:center;} /* 조회 버튼 */

.inline-wrapper.date-picker-wrapper:before {position:relative;}	 /* 페이지 안 위치 */
.inline-wrapper.date-picker-wrapper .month-wrapper {padding:0;}	
.inline-wrapper.date-picker-wrapper .month-wrapper table .caption .month-name:after {left:0;right:0;}

/* timepicker */
[data-js="timepicker"] {}
[data-js="timepicker"] .timepicker--button {display:inline-block;width:100%;vertical-align:top;}
[data-js="timepicker"] .timepicker--button label {float:left;width:100px;padding-top:11px;font-size:18px;}
[data-js="timepicker"] .timepicker--button .input-wrap {float:right;width:calc(100% - 100px);}
[data-js="timepicker"] .timepicker--button .input-wrap .btn-timepicker {width:100%;height:48px;border:1px solid #e5e5e5;border-radius:6px;background: #fff url(../img/icon/icon_function_element_dropdown.png) no-repeat right 4px center;background-size: 28px 28px;text-align:left;}
[data-js="timepicker"] .timepicker--button .input-wrap .btn-timepicker.timepicker-opened {background: #fff url(../img/icon/icon_function_element_dropup.png) no-repeat right 4px center;background-size: 28px 28px;}
[data-js="timepicker"] .timepicker--content {display:none;padding-top:10px;padding-bottom:40px;}
[data-js="timepicker"] .timepicker--content .text-box {padding:20px 0 10px;border-top:1px solid #eee;}
[data-js="timepicker"] .timepicker--content .text-box p {font-size:18px;}
[data-js="timepicker"] .timepicker--content .text-box .desc {margin-top:4px;color:#a1a1a1;}
[data-js="timepicker"] .timepicker--content .timepicker-wrapper {display:block;margin:0 -4px;}
.timepicker-wrapper {display:none;}
.timepicker-wrapper .item-wrapper {display:flex;flex-wrap:wrap;padding:4px 0;}
.timepicker-wrapper .item-wrapper + .item-wrapper {margin-top:4px;}
.timepicker-wrapper .item-wrapper + .item-wrapper:before {content:'Next Day';display:block;width:100%;margin-left:4px;}
.timepicker-wrapper .item-wrapper > li {display:inline-block;width:25%;padding:4px;}
.timepicker-wrapper .item-wrapper > li button {width:100%;height:46px;border:1px solid #bfbfbf;border-radius:4px;background:#fff;}
.timepicker-wrapper .item-wrapper > li.start button {color:#fff;border-color:#037cff;background-color:#037cff !important;}
.timepicker-wrapper .item-wrapper > li.end button {color:#fff;border-color:#037cff;background-color:#037cff !important;}
.timepicker-wrapper .item-wrapper > li.section button {color:#fff;border-color:#037cff;background-color:#037cff !important;}

