@charset "utf-8";

html.lock {overflow:hidden;}

#content-wrapper {
    height:100%;
}
#example-wrapper {
    height:100%;
}
#example-wrapper section#titlechart #description:after {
	content: "↧";
	font-size: 40px;
    display: block;
    text-align:center;
    margin-top: 20px;
    color: #c0c0c0;
}
#example-wrapper section#titlechart .button-wrap {display:flex;margin:10px 0 30px;}
.button-wrap a {display:block;width:50%;padding:5px 10px;border:1px solid #ccc;border-radius:5px;color:#999;text-align:center;}
.button-wrap a.on {border:2px solid #888;color:#555;}
.button-wrap a + a {margin-left:10px;}

.scrollContent {
    height:100%;
    padding-top: 70px;
}
.scrollContent:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    background: #31302e;
}
.scrollContent > section {
    width:100%;
    overflow: hidden;
}

#titlechart {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:70px;
    background-color:rgba(0,0,0,0.7);
    z-index: 99;
}
#titlechart .tab {display:inline-block;width:100%;height:100%;}
#titlechart .tab:after {content:'';position:absolute;left:0;bottom:0px;display:block;width:100%;height:1px;background:#666;}
#titlechart .tab .top {display:inline-block;width:100%;height:40px;padding:11px 20px 4px;border-bottom:1px solid #666;}
#titlechart .tab .top .logo {display:inline-block;height:20px;margin-top:1px;color:#fff;vertical-align:top;}
#titlechart .tab .top .logo >img {width:auto;height:100%;}
#titlechart .tab .top .model {display:inline-block;margin-left:10px;font-size:12px;color:#fff;}
#titlechart .tab > ul {position:relative;display:inline-block;width:100%;z-index:1;}
#titlechart .tab > ul > li {float:left;}
/* #titlechart .tab > ul > li + li {margin-left:10px;} */
#titlechart .tab > ul > li > a {display:block;padding:7px 20px 6px;font-size:11px;color:#fff;border-bottom:2px solid transparent;text-decoration:none;}
#titlechart .tab > ul > li > a {padding-left:27px;padding-right:27px;}
#titlechart .tab > ul > li:first-child > a,
#titlechart .tab > ul > li:last-child > a {padding-left:20px;padding-right:20px;}
#titlechart .tab > ul > li.on > a {border-bottom:2px solid #990033;}


.title {
    position:absolute;
    left: 25px;
}
.title h2 {margin:0;padding:0;font-size:32px;font-weight:700;}
.title .small {margin-top:15px;font-size:16px;line-height:24px;}
.title .button {margin-top:15px;display:inline-block;padding:0 14px;font-size:14px;line-height:30px;height:30px;border:1px solid #666;border-radius:16px;box-sizing:content-box;}

.eyebrow {
    position:absolute;
    left: 25px;
    font-size: 20px;
    color: #999;
}

.white {color:#fff;}
.grey, .gray {color:#888;}
.imageFitW > img {width:100%;height:auto;}

i.circ-arrow-down {display:inline-block;width:13px;height:13px;background:url("../img/ico_circArrow_down.png") center center no-repeat;background-size:contain;}

/* Swiper */
.swiper-wrapper {position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property: transform;box-sizing: content-box;}
.swiper-slide {flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform;}
.swiper-page-wrap {margin-top:20px;}
.swiper-pagination {text-align:center;/*overflow:hidden;*/}
.swiper-pagination-bullet {display:inline-block;margin:0 6px;width:21px;height:21px;border:2px solid #fff;border-radius:50%;}
.swiper-pagination-bullet-active {border-color:#ae1a4a !important;}
.swiper-pagination-bullet:nth-child(1) {background-color:#fff;border-color:#ddd;}
.swiper-pagination-bullet:nth-child(2) {background-color:#2c2c2c;}
.swiper-pagination-bullet:nth-child(3) {background-color:#ababab;}

/* twentytwenty */
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle {margin-top:-15px;margin-left:-15px;top:74.5%;width:31px;height:31px;border:0;background-color:#fff;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle:before,
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-handle:after {margin-top:0;margin-bottom:0;width:1px;margin-left:0;background-color:#fff;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-left-arrow,
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-right-arrow {margin-top:-4px;border:5px inset transparent;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-left-arrow {margin-left:-14px;border-right:5px solid #000;}
.twentytwenty-wrapper.twentytwenty-horizontal .twentytwenty-right-arrow {margin-right:-14px;border-left:5px solid #000}
.twentytwenty-overlay:hover {display: none;}

/* ios video border */
video {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
#animate1 {height:530px;background:#31302e;}
#animate1_1 {z-index:2;}
#animate1_2 {position:absolute;width:100%;top:195px;z-index:1;}
#animate1_2 > li {position:absolute;left:25px;}
#animate1_2 > li a {display:block;}
#animate1_2 > li .sub {font-size:25px;font-weight:900;color:#fff;}
#animate1_2 > li .sub em {margin-left:4px;font-size:17px;font-weight:700;font-style:normal;}
#animate1_2 > li .desc {color:#b0b3b8;}
#animate1_2 > li .desc i {margin-left:5px;vertical-align: middle;}
#animate1_3 {position:relative;height:530px;overflow: hidden;z-index:0;}
#animate1_3 img {position:absolute;bottom:0;right:0;width:360px;height:530px;}

#scene3 {/*overflow:visible;*/}
#animate2 {height:820px;overflow:hidden;background:#fff;}
#animate2_1 {}
#animate2_2 {position:absolute;left:50%;/*top:-45px;*/}
#animate2_2 > img {position:absolute;left:-700px;top:0;}
#animate2_2_info {position:absolute;}
#animate2_3 {position:absolute;left:25px;/*top:590px;*/width:calc(100% - 50px);}
#animate2_3 .sub {font-size:15px;color:#333;}
#animate2_3 .small {margin-top:18px;font-size:12px;color:#999;}

/* #animate3 {height:550px;background:#fff;} */
/* #animate3 {height:722px;background:#fff;}
#animate3_0 {position:absolute;left:0;width:100%;padding:0 25px;}
#animate3_0 .center {width:100%;text-align:center;}
#animate3_0 .button {margin-top:30px;width:92px;text-align:center;}
#animate3_0 .button + .button {margin-left:7px;opacity:0.4;transition:opacity 0.2s;}
#animate3_0 .button[style*="opacity: 0.6"] + .button {opacity:1;}
#animate3_1 {position:absolute;left:25px;top:280px;width:calc(100% - 50px);overflow-y:hidden;}
#animate3_1:before {content:"";display:block;padding-bottom:121%;}
#animate3_1 img {position:absolute;left:0;width:100%;}
#animate3_2 {position:absolute;left:25px;top:280px;width:calc(100% - 50px);min-height:420px;overflow-y:hidden;}
#animate3_2 img {width:100%;} */
#animate3 {}
#animate3_1 {z-index:1;}
#animate3 .blank {padding-top:210px;padding-bottom:122%;}
#animate3 .video {position:absolute;left:0;width:100%;padding-bottom:122%;}
#animate3 .video video {position:absolute;top:0;left:25px;width:calc(100% - 50px);height:100%;}

#animate4 {}
#animate4_1 {z-index:1;}
#animate4 .blank {padding-top:210px;padding-bottom:100%;}
#animate4 .video {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate4 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}

#animate5 {}
#animate5 .blank {padding-top:210px;padding-bottom:calc(100% + 66px);}
#animate5 .video {position:absolute;left:0;width:100%;padding-bottom:75%;}
#animate5 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate5 .logo {position:absolute;left:25px;}
#animate5 .logo img {display:block;width:80px;}
#animate5 .desc {position:absolute;left:128px;padding-bottom:5px;}
#animate5 .desc .sub {font-size:15px;color:#333;}
#animate5 .desc .small {margin-top:18px;font-size:12px;color:#999;}

#animate6 {}
#animate6 img {width:100%;}
#animate6 .blank {padding-top:214px;padding-bottom:114%;}
#animate6 .divider {position:absolute;left:0;width:100%;/*padding-bottom:83.4%;*/}
#animate6 .divider .image {position:absolute;top:0;left:0;width:100%;overflow:hidden;}
#animate6 .divider .image > img {display:block;width:100vw;}
#animate6 .divider .drag {position:absolute;top:0;right:0;height:100%;}
#animate6 .divider .drag img {height:100%;transform:translateX(-50%);}

#animate7 {}
#animate7 .blank {padding-top:236px;padding-bottom:100%;}
#animate7 .divider {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate7 .divider .image {position:absolute;top:0;left:0;width:100%;overflow:hidden;}
#animate7 .divider .image > img {display:block;width:100vw;}
#animate7 .divider .drag {position:absolute;top:0;right:0;height:100%;}
#animate7 .divider .drag img {height:100%;transform:translateX(-50%);}

#animate8 {}
#animate8 .blank {padding-top:264px;padding-bottom:77%;}
#animate8 .video {position:absolute;width:100%;padding-bottom:77%;overflow:hidden;}
/* #animate8 .video video {position:absolute;top:-2px;left:50%;transform:translateX(-50%);width:auto;height:calc(100% + 36px);} */
#animate8 .video video {position:absolute;top:0px;left:50%;transform:translateX(-50%);width:100%;height:100%;}

#animate9 {}
#animate9 .blank {padding-top:174px;padding-bottom:calc(134.8% + 100px);}
#animate9 .slide {position:absolute;left:0;width:100%;}
#animate9 .slide .image {position:relative;}
#animate9 .slide .image li {position:relative;display:inline-block;float:left;}
#animate9 .slide .image li:before {content:"";display:block;width:100vw;padding-bottom:134.8%;}
#animate9 .slide .image img {position:absolute;top:0;left:0;width:100%;z-index:0;}
#animate9 .slide .txt {position:absolute;top:50px;left:25px;z-index:1;}
#animate9 .slide .txt:not(.white) {color:#000;}
#animate9 .slide .txt strong {font-size:24px;}
#animate9 .slide .txt p {margin-top:12px;font-size:14px;line-height:20px;}

#animate10 {}
#animate10 .blank {padding-top:214px;padding-bottom:calc(100% + 15px);}
#animate10 .video {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate10 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}

#animate11 {}
/* #animate11 .blank {padding-top:212px;padding-bottom:calc(116.6% + 59.6%);}
#animate11 .slide {position:absolute;left:0;font-size:0;}
#animate11 .slide .image {position:relative;white-space:nowrap;}
#animate11 .slide .image li {position:relative;display:inline-block;}
#animate11 .slide .image img {width:100vw;} */
#animate11 .blank {padding-top:212px;padding-bottom:calc(111% + 305px);}
#animate11 .video {position:absolute;left:0;width:100%;padding-bottom:111%;}
#animate11 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate11 .desc {position:absolute;left:0;bottom:60px;}
#animate11 .desc img {display:block;width:100vw;}

#animate12 {}
#animate12 .blank {padding-top:212px;padding-bottom:calc(100% - 35px);}
#animate12 .image {position:absolute;left:25px;width:calc(100% - 50px);border-radius:15px;overflow:hidden;}
#animate12 .image img {display:block;width:100%;}

#animate13 {}
#animate13 .blank {padding-top:212px;padding-bottom:calc(100% - 35px);}
#animate13 .image {position:absolute;left:25px;width:calc(100% - 50px);border-radius:15px;overflow:hidden;}
#animate13 .image img {display:block;width:100%;}

#scene14,
#animate14 {background-color:#000;}
#animate14 .blank {padding-top:183px;padding-bottom:91.2%;}
#animate14 .title .small {color:#999;}
#animate14 .video {position:absolute;left:0;width:100%;padding-bottom:91.2%;}
#animate14 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate14 .video img {width:100%;}

#animate15 {background-color:#000;}
#animate15 .blank {height:50px;padding-top:63.2%;padding-bottom:662px;box-sizing:content-box;}
#animate15 .icons {position:absolute;left:0;}
#animate15 .icons img {display:block;width:100%;}
#animate15 .performance {position:absolute;margin-bottom:75px;left:0;width:100%;}
#animate15 .performance {padding:0 30px;}
#animate15 .performance li {position:relative;padding:30px 0;}
#animate15 .performance li:after {content:"";display:block;clear:both;}
#animate15 .performance li + li {border-top:1px solid #303030;}
#animate15 .performance .txt {position:relative;font-size:20px;color:#fff;}
#animate15 .performance .image {position:relative;}
#animate15 .performance .image img {display:block;width:100%;}
#animate15 .performance .type1 .txt {float:left;width:calc(100% - 75px);padding-top:4px;}
#animate15 .performance .type1 .image {float:right;width:75px;}
#animate15 .performance .type2 .txt {width:100%;}
#animate15 .performance .type2 .image {margin-top:12px;width:300px;}
#animate15 .desc {position:absolute;left:0;width:100%;padding:0 20px;font-size:12px;}
#animate15 .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}

#animate15A {background-color:#000;}
#animate15A .blank {padding-top:66%;}
#animate15A .icons {position:absolute;left:0;}
#animate15A .icons img {display:block;width:100%;}

#animate15B {background-color:#000;}
#animate15B .blank {height:587px;padding-top:50px;box-sizing:content-box;}
#animate15B .performance {position:absolute;left:0;width:100%;}
#animate15B .performance {padding:0 30px;}
#animate15B .performance li {position:relative;padding:30px 0;}
#animate15B .performance li:after {content:"";display:block;clear:both;}
#animate15B .performance li + li {border-top:1px solid #303030;}
#animate15B .performance .txt {position:relative;font-size:20px;color:#fff;}
#animate15B .performance .image {position:relative;}
#animate15B .performance .image img {display:block;width:100%;}
#animate15B .performance .type1 .txt {float:left;width:calc(100% - 75px);padding-top:4px;}
#animate15B .performance .type1 .image {float:right;width:75px;}
#animate15B .performance .type2 .txt {width:100%;}
#animate15B .performance .type2 .image {margin-top:12px;width:300px;}

#animate15C {background-color:#000;}
#animate15C .blank {height:95px;}
#animate15C .desc {position:absolute;left:0;width:100%;padding:0 20px;font-size:12px;}
#animate15C .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}

#animate16 {background-color:#000;}
#animate16 .blank {padding-top:260px;padding-bottom:calc(94.5% + 156px);}
#animate16 .title .small {color:#999;}
#animate16 .port {position:absolute;margin-bottom:146px;left:0;width:100%;}
#animate16 .port .image {display:block;}
#animate16 .port .image img {display:block;width:100vw;}
#animate16 .port .image.first {position:relative;}
#animate16 .port .image.last {position:absolute;top:0;}
#animate16 .desc {position:absolute;margin-bottom:75px;left:0;width:100%;padding:0 20px;font-size:12px;}
#animate16 .desc p + p {margin-top:3px;padding-left:8px;text-indent:-8px;}

#animate17 {background-image: linear-gradient(#343434 30%, #343434 31%, #252425 50%);}
#animate17 .blank {padding-top:214px;padding-bottom:calc(100% + 30px);}
#animate17 .video {position:absolute;left:0;width:100%;padding-bottom:100%;}
#animate17 .video video {position:absolute;top:0;left:0;width:100%;height:100%;}
#animate17 .title {color:#fff;}
#animate17 .desc {position:absolute;left:25px;bottom:36px;width:calc(100% - 50px);}

#animate18 {}
#animate18 .blank {padding-top:212px;padding-bottom:calc(86.2% + 70px);}
#animate18 .image {position:absolute;left:25px;width:calc(100% - 50px);border-radius:15px;overflow:hidden;}
#animate18 .image img {display:block;width:100%;}
#animate18 .desc {position:absolute;left:25px;bottom:36px;width:calc(100% - 50px);}

.popup.open {display:block;}
.popup {display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:100;}
.popup .dim {position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);z-index:0;}
.popup .inner {position:absolute;top:50%;left:50%;width:calc(100% - 48px);transform:translate(-50%, -50%);background-color:#fff;border-radius:3%;overflow:hidden;z-index:1;}
.popup .close {position:absolute;top:0;right:0;padding:16px;}
.popup .close img {width:16px;height:16px;}
.popup .image img {display:block;width:100%;}
.popup .content {padding:20px 24px 24px 24px;}
.popup .content strong {font-size:20px;color:#222;}
.popup .content p {margin-top:5px;font-size:12px;line-height:19px;color:#222;}
.popup .content span {margin-top:15px;display:block;font-size:10px;color:#888;}

.move-top {
    opacity: 0;
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.move-top.show {opacity:1}
.move-top > a {position:fixed;z-index:99;right:15px;bottom:50px;display:block;width:40px;height:40px;font-size:0;background:url("../img/btn_top.png") no-repeat;background-size:contain;}